---
import Layout from "@layouts/Layout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Layout>
	<main class="flex flex-col items-center justify-center h-screen bg-black">
		<div class="flex flex-col items-center justify-center ">
		<h1 class="text-4xl font-bold text-white">Jose Sanchez</h1>
		<p class="text-2xl text-white animate-pulse">on the way to thrive greatness</p>
		</div>
	</main>
</Layout>
