---
import Layout from "@layouts/Layout.astro";

---

<Layout>
	<main class="flex flex-col items-center justify-center h-screen">
		<div class="flex flex-col items-center justify-center ">
		<h1 class="text-4xl font-bold">Jose Sanchez</h1>
		<p class="text-2xl animate-pulse">on the way to thrive greatness</p>
		</div>
		<div class="text-skin-accent hover:text-skin-base">
			<a href="/posts">Are you interested?</a>
		</div>
	</main>
</Layout>
